*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
  scroll-behavior:smooth;
}

body{
  background:linear-gradient(135deg,#0f172a,#020617);
  color:white;
}

/* NAV */
nav{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
  position:sticky;
  top:0;
  backdrop-filter:blur(10px);
  background:#00000055;
}

.logo{
  color:#00ffff;
}

.nav-links a{
  margin-left:20px;
  text-decoration:none;
  color:white;
}

/* BUTTON */
.btn{
  background:#00ffff;
  color:black;
  padding:8px 14px;
  border-radius:8px;
}

.outline{
  border:1px solid #00ffff;
  padding:8px 14px;
  border-radius:8px;
}

/* HERO */
.hero{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:3rem;
  margin-bottom:10px;
  color:#00ffff;
}

/* GLASS CARD */
.glass{
  background:#ffffff10;
  backdrop-filter:blur(15px);
  padding:40px;
  border-radius:15px;
  margin:40px auto;
  width:80%;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:40px;
}

.card{
  background:#111827;
  padding:20px;
  border-radius:10px;
  transition:.3s;
}

.card:hover{
  transform:translateY(-6px);
  box-shadow:0 0 15px #00ffff;
}

/* PROJECTS */
.projects{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
  justify-content:center;
}

.project-card{
  background:#111827;
  padding:20px;
  width:280px;
  border-radius:10px;
}

.project-card img{
  width:100%;
  border-radius:10px;
}

/* FADE ANIMATION */
.fade{
  opacity:0;
  transform:translateY(30px);
  transition:1s;
}

.show{
  opacity:1;
  transform:translateY(0);
}

footer{
  text-align:center;
  padding:20px;
}
